body {
   /* background: url("/static/tasks/img/cell-mm.jpg") no-repeat center center fixed;
    background-size: cover;*/
}

.category_list{
    display:flex;
    gap: 7px;
    list-style: none;
    padding: 0;
}
.category_list a {
    text-decoration: none;
    color: rgb(155,125,87);
}
.footer {
    min-height: 80px;
}
.task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.task {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 15px;
    border: 2px solid #000;
    padding: 1px;
    box-sizing: border-box;
    break-inside: avoid;
    page-break-inside: avoid;
    border-radius: 5px;
}
.task-title h5 {
            font-weight: bold;
            font-style: italic;
            margin-bottom: 8px;
            background: #ddd;
            border-bottom: 1px solid #000;
            padding-bottom: 3px;
        }
.task-description {
            margin: 0px;
            padding: 5px;
            border-bottom: 1px solid #000;
}
.task-info {
            font-style: italic;
            font-size: 9pt;
            text-align: right;
            color: #555;
        }
.task-answers  tbody, tfoot, thead {
    width: 100%;
}
.task-answers  th {
    width: 50%;
    font-size: 9pt;
    text-align: center;
    padding-top: 20px;
    vertical-align: top;
}
.task-answers  td {
    border: 1px dotted #ccc;
    width: 50%;
    font-size: 9pt;

}
.answer-space {
    margin-top: 5px;
    padding-top: 3px;
    padding: 5px;
}
h1 {
            font-size: 16pt;
            margin: 0;
            padding: 5px;
            text-align: center;
        }

.categories {
    color: #555;
    float: right;
}

.column-x{
    column-count: 2;
}

